<%
var title = "";

var counter = 0;
if (is_archive()) {
  title = "归档";
  counter = site.posts.length;
} else if (is_category()) {
  title = "分类: " + page.category;
  counter = _.filter(site.posts.data, post => {
    return post.categories.data.filter(
      doc => doc.name === page.category
    ).length > 0;
  }).length
} else if (is_tag()) {
  title = "标签: " + page.tag;
  counter = _.filter(site.posts.data, post => {
    return post.tags.data.filter(
      doc => doc.name === page.tag
    ).length > 0;
  }).length
}
var posts = _.groupBy(page.posts.data, post => post.date.year());
%>
<main class="page">
    <article class="post">
    <header>
        <h1><%- title %></h1>
    </header>
    <section>
        <p class="counter">目前共有 <%= counter %> 篇文章</p>
        <% _.forInRight(posts, function(posts, year) { %>
        <h2 class="year"><%= year %></h2>
        <ul class="archive">
            <% posts.forEach(function(post) { %>
            <li>
                <span class="date"><%= date(post.date, "MM-DD") %> - </span>
                <a href="<%= url_for(post.path) %>"><%= post.title %></a>
            </li>
            <% }) %>
        </ul>
        <% }) %>
    </section>
    </article>
</main>
    