<header class="index-header">
    <% if(theme.sitelogo){ %>
    <img class="blog-logo" src="<%= theme.sitelogo %>">
    <% }else{ %>
    <h1 class="blog-title"><%- config.title %></h1>
    <% } %>
    <nav class="navTabs">
        <ul>
            <% for (name in theme.menu) { %>
            <li><a class="navTabs-item" href="<%- url_for(theme.menu[name]) %>"><%- __(name) %></a></li>
            <% } %>
            <% if(theme.github.name || theme.github.link){ %>
            <li><a class="navTabs-item" href="<%= theme.github.link %>">@<%= theme.github.name %></a></li>
            <% } %>
        </ul>
    </nav>
</header>
<main>
    <% page.posts.each(function(post){ %>
    <article class="index">
        <header>
            <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </header>
        <section>
            <% if (post.excerpt){ %>
                <%- post.excerpt %>
            <% } else { %>
                <%- post.content %>
            <% } %>
            <div class="post-meta">
            <% post.categories.forEach(function(item){ %>
            <a href="<%= item.permalink %>"><%= item.name %></a> 
            <% }); %>
            <span class="middotDivider"></span>
            <time class="timeago" datetime="<%= post.date.format("YYYY-MM-DD hh:mm:ss") %>"><%= post.date.format("MMM DD YYYY") %></time>
            </div>
        </section>
    </article>
    <% }) %>
</main>
<% if(page.prev || page.next){ %>
<div class="pagination">
        <% if(page.prev){ %>
            <a class="prev" href="<%= page.prev_link %>"><<- Newer</a>
        <% } %>
        <% if(page.next){ %>
            <a class="next" href="<%= page.next_link %>">Older ->></a>
        <% } %>
</div>
<% } %>
