<div class="index-flex">
<%- partial('common/nav') %>
<main class="index" data-title="Posts">
    <% page.posts.each(function(post){ %>
    <article class="index">
        <header>
            <a no-style class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </header>
        <section>
            <% if (post.excerpt){ %>
                <%- post.excerpt %>
            <% } else { %>
                <%- post.content %>
            <% } %>
            <div class="post-meta">
            <% post.categories.forEach(function(item){ %>
            <a href="<%= item.permalink %>"><%= item.name %></a> 
            <% }); %>
            <span class="middotDivider"></span>
            <time class="timeago" datetime="<%= post.date.format("YYYY-MM-DD hh:mm:ss") %>"><%= post.date.format("MMM DD YYYY") %></time>
            </div>
        </section>
    </article>
    <% }) %>
    <% if(page.prev || page.next){ %>
    <div class="pagination">
        <%- paginator({
            prev_text: '<<- Newer',
            next_text: 'Older ->>'
        }) %>
            
    </div>
    <% } %>
    <% if(is_home()) { %>
    <footer>
        <p>blog since <%- theme.footer.copyright %></p>
        <p>*<%- config.subtitle %></p>
        <% if(theme.footer.beian){ %>
            <a class="beian" href="http://beian.miit.gov.cn"><%= theme.footer.beian %></a>
        <% } %>
    </footer>
    <% } %>
</main>
</div>
